@model LibraryManagementMVC.ViewModels.BookViewModel

<h2>Add New Book</h2>

<form asp-action="Create" method="post">

    <div class="mb-2">
        <label>Title</label>
        <input asp-for="Book.Title" class="form-control" />
        <span asp-validation-for="Book.Title" class="text-danger"></span>
    </div>

    <div class="mb-2">
        <label>Author</label>
        <input asp-for="Book.Author" class="form-control" />
    </div>

    <div class="mb-2">
        <label>Published Year</label>
        <input asp-for="Book.PublishedYear" class="form-control" />
    </div>

    <div class="mb-2">
        <label>Genre</label>
        <input asp-for="Book.Genre" class="form-control" />
    </div>

    <div class="mb-2">
        <label>Is Available</label>
        <input asp-for="IsAvailable" type="checkbox" />
    </div>

    <div class="mb-2">
        <label>Borrower Name</label>
        <input asp-for="BorrowerName" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success">Save</button>

</form>