@{
    ViewData["Title"] = "Employee Home";
}

<h2>Employee Management</h2>

<hr />

<a asp-controller="Employee" asp-action="Register" class="btn btn-primary">
    Register New Employee
</a>

<br />
<br />

<a asp-controller="HR" asp-action="Index" class="btn btn-secondary">
    Go to HR Module
</a>

<br />
<br />

<a asp-controller="Account" asp-action="Login" class="btn btn-warning">
    Admin Login
</a>