@model Customer

<h2>Edit Customer</h2>

<div class="card p-4 w-50">
    <form method="post">

        <input type="hidden" asp-for="CustomerId" />

        <div class="mb-3">
            <label class="fw-bold">Name</label>
            <input asp-for="Name" class="form-control" />
        </div>

        <div class="mb-3">
            <label class="fw-bold">Email</label>
            <input asp-for="Email" class="form-control" />
        </div>

        <button class="btn btn-warning">Update</button>
        <a href="/Customer" class="btn btn-secondary">Cancel</a>

    </form>
</div>