@model StudentManagementApp.Models.Product

<h2>Create Product</h2>

<div class="card p-4 shadow">

    <form method="post">

        <div class="mb-3">
            <label>Product Name</label>
            <input asp-for="Name" class="form-control" />
        </div>

        <button type="submit" class="btn btn-success">Save</button>

    </form>

</div>