@model Category

<h2>Add Category</h2>

<div class="card p-4 w-50">
    <form method="post">

        <div class="mb-3">
            <label class="fw-bold">Category Name</label>
            <input asp-for="Name" class="form-control" placeholder="Enter category name" />
        </div>

        <button class="btn btn-success">Save</button>
        <a href="/Category" class="btn btn-secondary">Cancel</a>

    </form>
</div>