@{
    ViewData["Title"] = "Login";
}

<h2>Admin Login</h2>

<form method="post">

    <div>
        <label>Username</label><br />
        <input type="text" name="username" class="form-control" />
    </div>

    <br />

    <div>
        <label>Password</label><br />
        <input type="password" name="password" class="form-control" />
    </div>

    <br />

    <button type="submit" class="btn btn-success">Login</button>

</form>

@if (ViewBag.Error != null)
{
    <p style="color:red">@ViewBag.Error</p>
}

<br />

<a asp-controller="Employee" asp-action="Index">Back to Home</a>